<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Power Consumption Analysis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="green darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
	<img src = "../static/logo.jpg"/ alt = "Logo" width = "50" height = "50"> Power Consumption Analyser
	</a>
	<a href="/inspect"><button action='/inspect' class="right hide-on-med-and-down">Inspect</button></a>
     </div>

  </nav>
	
	<div>
		<img src = "../static/home.jpg" alt = "home" width = "500" height = "500">
		<p class ="col l1 s12">Power Consumption Analysis for Household Appliances, is a project that allows the customers to analyse and predict the energy consumption patterns of their appliances, with 
which they will be able to understand the amount of power each appliance is draining and 
with respect to that the customer would be able to understand each appliance usage, and
the respective charges for them, which proves to be advantageous as when one knows the 
area of heavy consumption, the customer would be able to reduce it drastically.
The project provides the customer with rich and refined data reflecting on the energy 
consumption of the household appliances. With the data collected from the user, the 
trained model is capable enough to analyse the power consumption of the meters 
associated with the appliances, with which the user will be able to understand the electricity 
consumption. Electricity being an important aspect of everybody’s personal life, this project 
holds utmost importance in everyday life. </p>
</div>

  <footer class="page-footer green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">We, a Team of students from 'Meenakshi Sundararajan Engineering College', did this project as a part of our Naan Mudhalvan</p>
        </div>
        
        <div class="col l4 s12">
          <h5 class="white-text">Team</h5>
          <ul>
            <li>Flavian Diol D ( Leader )</li>
            <li>Syed K Reyhaan ( Team Member )</li>
            <li>Mohamed Fowaz MA ( Team Member )</li>
            <li>Elango N ( Team Member )</li>
          </ul>
        </div> 
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
     		Team ID: NM2023TMID04400
      </div>
    </div>
  </footer>

