<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Power Consumption Analysis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
   
<body>
  <nav class="green darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
	<img src = "../static/logo.jpg"/ alt = "Logo" width = "50" height = "50"> Power Consumption Analyser
	</a>
	<a href = "/inspect"><button class="right hide-on-med-and-down">Inspect</button></a>
     </div>

  </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h3 class="header grey-text">A Reliable Energy Consumption Analysis System for 
Energy-Efficient Appliances</h3>
			<h4 class="header green-text">Global Active Power is</h4>	
                <h5 class = "header green-text">{{pred}} Watts</h5>
            </div>
        </div>
    </body>

</html>s